@import '@appscode/design-system/vue-components/styles/base/utilities/colors';

@import '@appscode/design-system/vue-components/styles/base/utilities/customize-bulma';

@import '../../node_modules/bulma/bulma.sass';
@import 'bulma-checkradio';

@import '@appscode/design-system/vue-components/styles/base/utilities/all';

@import '@appscode/design-system/vue-components/styles/components/form-fields/input';
@import '@appscode/design-system/vue-components/styles/components/form-fields/check-radio-switch';
@import '@appscode/design-system/vue-components/styles/components/button';
@import '@appscode/design-system/vue-components/styles/components/_accordion';
